body {
    font-family: Verdana, sans-serif;
}

#Logo {
    width: 1500px;
    height: 750px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.top-nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-nav ul li {
    margin: 0 15px;
}

.top-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

footer{
    text-align: center;
    background-color: black;
    border-top: 3px white;
    padding: 5px 0px;
}

footer p{
    text-align: center;
    color: white;
}
